@inherits NancyRazorViewBase<dynamic>
@using DinnerParty.HtmlExtensions;
@using System.Collections.Generic;
@using Nancy.ViewEngines.Razor

@{
  Layout = "_Layout.cshtml";
} 

@section HeadArea {
	@*<link rel="Stylesheet" type="text/css" href="@Url.Action("OpenIdSelector", "Resource")" />
	<link rel="Stylesheet" type="text/css" href="@Url.Action("OpenIdAjaxTextBox", "Resource")" />
	<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
}

<h2>@Model.Page.Title</h2>
<p>
	Use the form below to create a new account. 
</p>
<p>
	Passwords are required to be a minimum of 8 characters in length.
</p>

<form method="post">
	@Html.ValidationSummary((List<DinnerParty.Models.ErrorModel>)Model.Page.Errors)
    
	<div>
		<fieldset>
			<legend>Account Information</legend>
			<p>
                <label for="UserName">UserName</label>
                <input type="text" name="UserName" value="@Model.RegisterModel.UserName" />
			</p>
            <p>
                <label for="Name">Name</label>
                <input type="text" name="Name" value="@Model.RegisterModel.Name" />
			</p>
			<p>
                <label for="Email">Email</label>
                <input type="text" name="Email" value="@Model.RegisterModel.Email" />
			</p>
			<p>
                <label for="Password">Password</label>
                <input type="password" name="Password" value="@Model.RegisterModel.Password" />
			</p>
			<p>
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" name="ConfirmPassword" value="@Model.RegisterModel.ConfirmPassword" />
			</p>
			<p>
				<input type="submit" value="Register" />
			</p>
		</fieldset>
	</div>
</form>
